@{
    ViewData["Title"] = "Monolib - Highway Code Training";
}
<!-- -------------------------------------- -->
<!-- VOIR PK site.css MARCHE PAAAAASS !!!!! -->
<!-- -------------------------------------- -->

<div class="text-center homePage">
    <h2>Welcome to Highway Code Training <br /> by <a href="www.monolib.fr" class="monolibLink">Monolib !</a></h2><br />

    <h4>You can train your knowledges about highway code by doing timed exams of 50 questions.</h4>
</div>
