@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Good luck";
}
<h1>Index: </h1>

<div class="container">
    <a asp-action="Exercice" class="btn btn-primary">Start Exercice</a>
</div>